tampa/2014-07-10/example-code/.metadata
tampa/2014-07-10/example-code/timeetup-example/.project
tampa/2014-07-10/example-code/timeetup-example/.settings/com.aptana.editor.common.prefs
tampa/2014-07-10/example-code/timeetup-example/Resources
tampa/2014-08-13/TasksApp/build
tampa/2014-08-13/TasksApp/Resources/